In [56]:
import pandas as pd

In [57]:
data_file = "purchase_data.csv"

In [58]:
data_file_pd = pd.read_csv(data_file)

In [59]:
data_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [64]:
#Player Count
#total number of players
total_number_of_players = (data_file_pd["SN"].nunique())
total_number_of_players

576

In [115]:
#Purchasing Analysis(Total)
#Number of Unique Items
number_of_unique_items = data_file_pd["Item ID"].nunique()
number_of_unique_items

183

In [117]:
#Average Purchase Price
average_purchase_price = data_file_pd["Price"].mean()
average_purchase_price

3.050987179487176

In [116]:
#Total Number of Purchases
total_number_of_purchases = data_file_pd["Purchase ID"].count()
total_number_of_purchases

780

In [118]:
#Total Revenue
total_revenue = data_file_pd["Price"].sum()
total_revenue

2379.77

In [68]:
percentage_female_players = (female_player_count/total_count_players) * 100
percentage_female_players

14.487179487179489

In [69]:
percentage_male_players = (male_player_count/total_count_players) * 100
percentage_male_players

83.58974358974359

In [119]:
#Gender Demographics
data_file_male = data_file_pd.loc[data_file_pd['Gender'] == 'Male']
data_file_male_count = data_file_male['SN'].nunique()
data_file_male_count

484

In [72]:
data_file_female = data_file_pd.loc[data_file_pd['Gender'] == 'Female']
data_file_female

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [73]:
data_file_female_count = data_file_female['SN'].nunique()
data_file_female_count

81

In [74]:
data_file_other = data_file_pd.loc[data_file_pd['Gender'] == 'Other / Non-Disclosed']
data_file_other

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [75]:
data_file_other_count = data_file_other['SN'].nunique()
data_file_other_count

11

In [76]:
percentage_ufemale_players = (data_file_female_count/total_number_of_players ) * 100
percentage_ufemale_players

14.0625

In [77]:
percentage_male_players = (data_file_male_count/total_number_of_players ) * 100
percentage_male_players

84.02777777777779

In [78]:
percentage_other_players = (data_file_other_count/total_number_of_players ) * 100
percentage_other_players

1.9097222222222223

In [79]:
male_purchase_count = data_file_male['Purchase ID'].count()
male_purchase_count

652

In [80]:
female_purchase_count = data_file_female['Purchase ID'].count()
female_purchase_count

113

In [81]:
other_purchase_count = data_file_other['Purchase ID'].count()
other_purchase_count

15

In [82]:
male_average_purchase = data_file_male['Price'].mean()
male_average_purchase

3.0178527607361953

In [83]:
female_average_purchase = data_file_female['Price'].mean()
female_average_purchase

3.203008849557519

In [84]:
other_average_price = data_file_other['Price'].mean()
other_average_price

3.3460000000000005

In [85]:
male_total_purchase = data_file_male['Price'].sum()
male_total_purchase

1967.64

In [86]:
female_total_purchase = data_file_female['Price'].sum()
female_total_purchase

361.94

In [87]:
other_total_purchase = data_file_other['Price'].sum()
other_total_purchase

50.19

In [88]:
data_file_gender_person = data_file_pd.groupby(['Gender','SN'])
data_file_gender_person['Price'].mean()

Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

In [89]:
bins = [4,8,12,16,20,24,28,32,36,40,44,48]

age_range_labels = ["5 to 8","9 to 12","13 to 16","17 to 20","21 to 24","25 to 28","29 to 32","33 to 36","37 to 40","41 to 44","45 to 48"]

In [90]:
pd.cut(data_file_pd["Age"],bins,age_range_labels).value_counts()

(20, 24]    266
(16, 20]    170
(24, 28]     88
(12, 16]     71
(28, 32]     63
(32, 36]     42
(36, 40]     28
(8, 12]      28
(4, 8]       17
(40, 44]      6
(44, 48]      1
Name: Age, dtype: int64

In [92]:
data_file_pd["Age Range"] = pd.cut(data_file_pd["Age"],bins,age_range_labels)
data_file_pd

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(16, 20]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(36, 40]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(20, 24]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(20, 24]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(20, 24]"
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,"(20, 24]"
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,"(20, 24]"
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,"(16, 20]"
778,778,Sisur91,7,Male,101,Final Critic,4.19,"(4, 8]"
779,779,Ennrian78,24,Male,50,Dawn,4.60,"(20, 24]"

In [93]:
data_file_pd_2 = data_file_pd.copy()
data_file_pd_2

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(16, 20]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(36, 40]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(20, 24]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(20, 24]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(20, 24]"
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,"(20, 24]"
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,"(20, 24]"
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,"(16, 20]"
778,778,Sisur91,7,Male,101,Final Critic,4.19,"(4, 8]"
779,779,Ennrian78,24,Male,50,Dawn,4.60,"(20, 24]"

In [94]:
data_file_grouped = data_file_pd.groupby('Age Range')
purchase_count_agerange = data_file_grouped['Purchase ID'].count()
purchase_count_agerange

Age Range
(4, 8]       17
(8, 12]      28
(12, 16]     71
(16, 20]    170
(20, 24]    266
(24, 28]     88
(28, 32]     63
(32, 36]     42
(36, 40]     28
(40, 44]      6
(44, 48]      1
Name: Purchase ID, dtype: int64

In [95]:
purchase_avgprice_agerange = data_file_grouped['Price'].mean()
purchase_avgprice_agerange

Age Range
(4, 8]      3.462353
(8, 12]     3.024643
(12, 16]    2.993944
(16, 20]    3.123529
(20, 24]    3.006541
(24, 28]    2.929205
(28, 32]    3.052222
(32, 36]    2.895952
(36, 40]    3.560357
(40, 44]    3.305000
(44, 48]    1.700000
Name: Price, dtype: float64

In [96]:
purchase_total_agerange = data_file_grouped['Price'].sum()
purchase_total_agerange

Age Range
(4, 8]       58.86
(8, 12]      84.69
(12, 16]    212.57
(16, 20]    531.00
(20, 24]    799.74
(24, 28]    257.77
(28, 32]    192.29
(32, 36]    121.63
(36, 40]     99.69
(40, 44]     19.83
(44, 48]      1.70
Name: Price, dtype: float64

In [114]:
average_purchasetotal_person_byagegroup = data_file_pd.groupby(['Age Range','SN'])
average_purchasetotal_person_byagegroup_pd = pd.DataFrame(average_purchasetotal_person_byagegroup["Price"].sum())
average_purchasetotal_person_byagegroup_pd = average_purchasetotal_person_byagegroup_pd.dropna(how='any')
average_purchasetotal_person_byagegroup_pd.head(50)

                           Price
Age Range SN
(4, 8]    Anallorgue57      5.70
          Chadjask77        4.93
          Chanossast57      4.32
          Eusri44           3.09
          Frichossala54     3.08
          Haillyrgue51      9.50
          Heudai45          3.47
          Ilmol66           6.17
          Quilassa66        4.23
          Seuthep89         2.05
          Sisur91           4.19
          Sondossa69        4.48
          Tyeurith29        3.65
(8, 12]   Aeralria27        4.09
          Aillyrin83        2.89
          Eosurdru76        1.79
          Eurithphos97      4.55
          Iana95            3.10
          Iarilis73         5.49
          Ilastilis78       1.97
          Ililsan66         2.85
          Jiskjask80        4.19
          Lassassasda30     3.54
          Lirtirra81        1.56
          Lirtossa84        3.24
          Lisico81          4.19
          Lisjaskan36       3.36
          Quaecjask96       4.40
          Raesty92          8.73
          Reulae52          4.18
          Siana77           1.97
          Sidap51           4.24
          Sondadar26        6.47
          Zhisrisu83        7.89
(12, 16]  Adairialis76      2.28
          Aerillorin70      3.33
          Aerithnucal56     4.40
          Aerithriaphos46   2.18
          Chamadar79        3.14
          Chamimla85        6.30
          Chamjaskya75      2.84
          Chanilsasda38     2.52
          Chanirrasta87     4.94
          Eodaisu60         3.94
          Eoral49           4.35
          Eryon48           1.10
          Ethralista69      2.22
          Eudanu32          2.85
          Frichilsa31       1.44
          Frichosia58       4.43

In [40]:
average_total_person_byagegroup = data_file_grouped_agerange_person['Price'].mean()
average_total_person_byagegroup

Age Range  SN
(4, 8]     Adairialis76    NaN
           Adastirin33     NaN
           Aeda94          NaN
           Aela59          NaN
           Aelaria33       NaN
                            ..
(44, 48]   Yathecal82      NaN
           Yathedeu43      NaN
           Yoishirrala98   NaN
           Zhisrisu83      NaN
           Zontibe81       NaN
Name: Price, Length: 6336, dtype: float64

In [80]:
data_file_spender = data_file_pd.groupby('SN')
data_file_spender.count()

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Range
SN
Adairialis76             1    1       1        1          1      1          1
Adastirin33              1    1       1        1          1      1          1
Aeda94                   1    1       1        1          1      1          1
Aela59                   1    1       1        1          1      1          1
Aelaria33                1    1       1        1          1      1          1
...                    ...  ...     ...      ...        ...    ...        ...
Yathecal82               3    3       3        3          3      3          3
Yathedeu43               2    2       2        2          2      2          2
Yoishirrala98            1    1       1        1          1      1          1
Zhisrisu83               2    2       2        2          2      2          2
Zontibe81                3    3       3        3          3      3          3

[576 rows x 7 columns]

In [85]:
spender_total_purchase = data_file_spender['Price'].mean()
spender_total_purchase

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [189]:
# Identify the top 5 spenders
spenders = data_file_pd.groupby('SN')
top_spenders = (spenders['Price'].sum())
top_spenders_count = (spenders['Price'].count())
top_spenders_avg = (spenders['Price'].mean())
top_spenders_df = pd.DataFrame(top_spenders).sort_values("Price",ascending=False)
top_spenders_df["Purchase Count"] = top_spenders_count
top_spenders_df["Average Purchase Price"] = top_spenders_avg
top_spenders_df_out = top_spenders_df[['Purchase Count','Average Purchase Price', 'Price']]
top_spenders_df_final = top_spenders_df_out.iloc[:5,:]
top_spenders_df_final = top_spenders_df_final.rename(columns={'Price':'Total Purchase Value'})
top_spenders_df_final

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [45]:
# Most Popular Items by Purchase Count
items = data_file_pd.groupby(['Item ID','Item Name','Price'])
items_purchase_count = items['SN'].count()
item_total_purchase = items['Price'].sum()
top_items_df = pd.DataFrame(items_purchase_count).sort_values("SN",ascending=False)
top_items_df["Total Purchase Value"] = item_total_purchase
top_items_df_out = top_items_df.rename(columns={'SN':'Purchase Count'})
top_items_df_out=top_items_df_out.iloc[:5,:]
top_items_df_out

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

In [51]:
# Most Popular Items by Purchase Value
purchase_value = data_file_pd.groupby(['Item ID'])
items_purchase_total = purchase_value['Price'].sum()
items_purchase_count = purchase_value['SN'].count()
top_totalpurchase_df = pd.DataFrame(purchase_value)
top_totalpurchase_df['Total Purchase Value'] = items_purchase_total
top_totalpurchase_df['Purchase_Count']= items_purchase_count
top_totalpurchase_df.sort_values("Total Purchase Value",ascending=False)
top_totalpurchase_df_out=top_items_df_out.iloc[:5,:]
top_totalpurchase_df_out

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16