In [1]:
import pandas as pd

In [3]:
data_file = "purchase_data.csv"

In [5]:
data_file_pd = pd.read_csv(data_file)

In [6]:
data_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
number_of_unique_items = data_file_pd["Item ID"].nunique()
number_of_unique_items

183

In [20]:
average_purchase_price = data_file_pd["Price"].mean()
average_purchase_price

3.050987179487176

In [23]:
total_number_of_purchases = data_file_pd["Purchase ID"].count()
total_number_of_purchases

780

In [25]:
total_revenue = data_file_pd["Price"].sum()
total_revenue

2379.77

In [26]:
total_number_of_players = data_file_pd["SN"].nunique()
total_number_of_players

576

In [42]:
percentage_male_players = (data_file_pd["Gender"].values == 'Male').sum()
percentage_male_players

652

In [43]:
percentage_female_players = (data_file_pd["Gender"].values == 'Female').sum()
percentage_female_players

113

In [53]:
total_count_players = data_file_pd["Gender"].counts()
total_count_players

AttributeError: 'Series' object has no attribute 'counts'